body {
    background-color: #f8f9fa;
}

.movie-card {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.pWidth {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}